.custom_accordion_group > .panel-heading{
  padding: 0;
  border-bottom: 0px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom_accordion_group .accordion-toggle .list-group-item{
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}

.custom_accordion_group .panel-body{
  padding: 0;
}
.custom_accordion_group .list-group .list-group-item {
  margin-bottom: 0;
}
.custom_accordion_group .list-group .list-group-item.less-padding {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}